<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="943d5249-bb48-45ef-9314-80b2d1b69365"
            Publisher="CN=jonathan.peppers"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>SoundEffectInstanceRepro.Windows8</DisplayName>
    <PublisherDisplayName>jonathan.peppers</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="SoundEffectInstanceRepro.Windows8.App">
        <VisualElements
            DisplayName="SoundEffectInstanceRepro.Windows8"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="SoundEffectInstanceRepro.Windows8"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>